{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-8">
          <div class="article">
            <div class="well">
              <h1>{{ page.title }}</h1>
              <div class="post-meta">
                <div class="post-time">
                  <i class="fa fa-calendar"></i>
                  <time>{{ page.date | date_to_string }}</time>
                </div>
                <ul>
                  {% for tag in page.tags %}
                    <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="post-content">
                {{ content }}
              </div>
              <!-- 多说评论框 start -->
              <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="请替换成文章的网址"></div>
              <!-- 多说评论框 end -->
              <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
              <script type="text/javascript">
                var duoshuoQuery = {short_name:"dev-note"};
                (function() {
                  var ds = document.createElement('script');
                  ds.type = 'text/javascript';ds.async = true;
                  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                  ds.charset = 'UTF-8';
                  (document.getElementsByTagName('head')[0] 
                   || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
              </script>
              <!-- 多说公共JS代码 end -->
            </div>
          </div>
        </div>
        <div class="col-md-4 hidden-xs s-nav-r">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

  </div>
  {% include footer.html %}
</div>
